<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="./css/base.css" rel="stylesheet" type="text/css" />
<title>アンケートフォーム確認</title>
</head>
<body>
<div class="sub-title">
アンケートフォーム確認
</div>
<table class="editform">
<tr>
<th>名前</th>
<td></td>
</tr>
<tr>
<th>性別</th>
<td></td>
</tr>
<tr>
<th>年代</th>
<td></td>
</tr>
<tr>
<th>好きな動物</th>
<td></td>
</tr>
<tr>
<th>コメント</th>
<td></td>
</tr>
<tr>
<td colspan="2">
<form action="confirm.php" method="post">
<input type="submit" name="register" value="登録">　　<input type="submit" name="modify" value="修正">
</form>
</td>
</tr>
</table>
</body>
</html>
