<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../css/base.css" rel="stylesheet" type="text/css" />
<title>グラフ一覧画面</title>
</head>

<body>
<div class="sub-title">
グラフ一覧
</div>
<table class="editform">
	<tr>
		<td>性別の棒グラフ表示</td>
	</tr>
	<tr>
		<td>性別の円グラフ表示</td>
	</tr>
	<tr>
		<td>年別の棒グラフ表示</td>
	</tr>
	<tr>
		<td>年別の円グラフ表示</td>
	</tr>
	<tr>
		<td>好きな動物の棒グラフ表示</td>
	</tr>
	<tr>
		<td>好きな動物の円グラフ表示</td>
	</tr>
</table>
</body>
</html>