<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="./css/base.css" rel="stylesheet" type="text/css" />
<title>アンケートフォーム登録完了</title>
</head>
<body>
<div class="sub-title">
アンケートフォーム登録完了
</div>
<div class="note">
アンケートにご協力ありがとうございました。
</div>
</body>
</html>