<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../css/base.css" rel="stylesheet" type="text/css" />
<title>アンケートフォーム修正完了</title>
</head>
<body>
<div class="sub-title">
アンケートフォーム修正完了
</div>
<div class="note">
アンケートを修正しました。<br />
<a href="anq_result.php">アンケート結果一覧へ戻る</a>
</div>
</body>
</html>