実行時間は{$smarty.now|date_format:'%Y-%m-%d %H:%M:%S'}です。<br />

{foreach from=$smarty.server item=server name=server_roop}

{$smarty.foreach.server_roop.iteration}回目、

{if $smarty.foreach.server_roop.first}ループの最初の値は{$server}です。<br />{/if}

{if $smarty.foreach.server_roop.last}<br />ループの最後の値は{$server}です。<br />{/if} 

{/foreach}

$_SERVER変数は{$smarty.foreach.server_roop.total}個の要素を持っています。